* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background-image: url('/images/gymaster-bg.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2); 
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px; 
    width: 80%; 
    max-width: 900px; 
    padding: 20px 0;
}

.button-grid button {
    padding: 50px 70px;
    font-size: 22px; 
    font-weight: bold;
    border-radius: 15px;
    background-color: #042031;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
    height: auto;
}

.button-grid button:hover {
    background-color: #043d60;
    transform: scale(1.1);
}

.button-grid-transac {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    width: 80%;
    max-width: 800px;
    padding: 20px 0;
}

.button-grid-transac button {
    padding: 50px 70px;
    font-size: 22px; 
    font-weight: bold;
    border-radius: 15px;
    background-color: #042031;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
    height: auto;
}

.button-grid-transac button:hover {
    background-color: #043d60;
    transform: scale(1.1);
}

.button-grid-set {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
    width: 100%; 
    max-width: 300px; 
    margin: auto; 
    padding: 20px 0;
}

.button-grid-set button {
    padding: 20px 50px; 
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
    background-color: #042031; 
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
    height: auto;
}

.button-grid-set .logout-btn {
    background-color: #c82333;
}

.button-grid-set .logout-btn:hover {
    background-color: #a71d2a;
}

.button-grid-set button:hover {
    background-color: #043d60;
    transform: scale(1.05);
}