header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 50px;
    backdrop-filter: blur(30px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

.img {
    width: 70px;
    height: 40px;
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin-left: 35px;
    transition: transform 0.2s, color 0.2s;
    transform-origin: center;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #042031;
    transition: width 0.3s;
}

.navbar a:hover::before {
    width: 100%;
}

.navbar a:hover {
    color: #042031;
    transform: scale(1.1);
}