* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
}

body {
    background-image: url('/images/gymaster-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.search-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    padding-right: 50px;
    top: 55px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.add-btn {
    background-color: #042031;
    color: white;
    padding: 11px 21px;
    font-size: 12px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

.add-btn:hover {
    background-color: #043d60;
    font-weight: bold;
}

.search-input {
    align-items: center;
}

.search-input input {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
    margin-right: -10px;
    flex-grow: 1;
}

.search-input input:focus {
    border-color: #007bff;
}

.search-btn {
    background-color: #042031;
    color: white;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
    position: relative;
    right: 20px;
    height: 37px;
    border-radius: 20px;
}

.search-btn:hover {
    background-color: #043d60;
}

.search-btn i {
    font-size: 16px;
}

.table-container {
    position: relative;
    width: calc(100% - 50px); 
    max-width: 90%; 
    margin: 20px auto;
    overflow-x: auto;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    top: 55px;
}

table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: left;
}

td {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}

th {
    padding: 10px 15px;
    background-color: #042031;
    color: white;
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
}

td {
    padding: 10px 15px;
    color: #042031;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
}

tr:hover {
    background-color: #fff;
}

.control-buttons a {
    position: relative;
    bottom: 0px;
    text-decoration: none;
    color: #fff;
    background-color: #042031;
    padding: 5px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.control-buttons i {
    font-size: 20px;
}

.control-buttons a:hover {
    background-color: #043d60;
}

.form-container input,
.form-container select {
    margin-bottom: 16px;
}