<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge,safari">
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
        <link rel="stylesheet" href="/navbar.css">
        <link rel="stylesheet" href="/user.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>{{ title }}</title>
    </head>
    <header>
        <div class="logo">
            <img class="img" src="/images/gymaster.png" alt="GYMASTER Logo"> 
        </div>
        <nav class="navbar">
            <a href="/report">Report</a>
            <a href="/user">User</a>
            <a href="/member">Member</a>
            <a href="/coach">Coach</a>
            <a href="/program">Program</a>
            <a href="/subscription" style="color: #042031;">Subscription</a>
            <a href="/payment">Payment</a>
            <a href="/settings">Settings</a>    
        </nav>
    </header>
    <body>
        <div class="search-container">
            <div class="actions">
                <a href="/adduser">
                    <button type="button" class="add-member-btn">BACK</button>
                </a>
                <form action="/search" method="GET" class="search-input">
                    <input type="text" placeholder="Search here..." name="search">
                    <button type="submit" class="search-btn">
                    <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
        <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Member Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Subscription</th>
                    <th>Active</th>
                    <th>Control</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>jhanna</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="control-buttons">
                        <a href="#"><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </body>
</html>