<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge,safari">
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
        <link rel="stylesheet" href="/choose.css">
        <title>{{ title }}</title>
    </head>
    <body> 
        <div class="container">
            <form action="/admin" method="get">
                <button type="submit" name="user_type" value="admin">ADMIN</button>
            </form>
            <form action="/staff" method="get">
                <button type="submit" name="user_type" value="staff">STAFF</button>
            </form>
        </div>
    </body>
</html>