<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge,safari">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
        <link rel="stylesheet" href="/both_login.css">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container" id="container">
            <div class="form-container">
                <div class="login-header">
                        <span>STAFF</span>
                </div>
                <form action="/staff/login" method="POST">
                    {{#if error}}
                        <p style="color: red;">{{error}}</p>
                    {{/if}}
                    <div class="input_box"> 
                        <input type="text" name="username" id="user" class="input_field" required> 
                        <label for="user" class="label">Username</label>
                    </div>           
                    <div class="input_box">
                        <input type="password" name="password" id="pass" class="input_field" required>
                        <label for="pass" class="label">Password</label>
                    </div>
                    <a href="#">Forgot Password?</a>
                    <button type="submit">LOGIN</button>
                </form>
            </div>
        </div>
        <script src="/script.js"></script>
    </body>
</html>